/ejercicio1/nbproject/private/
/ejercicio1/build/
/ejercicio1/dist/
/ejercicio2/nbproject/private/
/ejercicio3/nbproject/private/
/ejercicio3/build/
/ejercicio4/nbproject/private/
/ejercicio4/build/
/ejercicio5/nbproject/private/
/ejercicio5/build/
/ejercicio6/nbproject/private/
/ejercicio6/build/
/Ejercicio7/nbproject/private/
/Ejercicio7/build/
/Ejercicio7/dist/
/ejercicio8/nbproject/private/
/ejercicio8/build/
/ejercicio9/nbproject/private/
/ejercicio9/build/
/ejercicio10/nbproject/private/
/ejercicio10/build/
/ejercicio10/dist/
/ejercicio11/nbproject/private/
/ejercicio11/build/
/ejercicio11/dist/
/ejercicio12/nbproject/private/
/ejercicio12/build/
/ejercicio13/nbproject/private/
/ejercicio13/build/
/ejercicio14/nbproject/private/
/ejercicio14/build/
/ejercicio-a1/nbproject/private/
/ejercicio-a1/build/
/ejercicio-a2/nbproject/private/
/ejercicio-a2/build/
/ejercicio-a3/nbproject/private/
/ejercicio-a3/build/
/ejercicio-a4/nbproject/private/
/ejercicio-a4/build/
/ejercicio-a5/nbproject/private/
/ejercicio-a5/build/
/ejercicio-a6/nbproject/private/
/ejercicio-a6/build/
/ejercicio-a7/nbproject/private/
/ejercicio-a7/build/
/ejercicio-a8/nbproject/private/
/ejercicio-a8/build/
/ejercicio-a9/nbproject/private/
/ejercicio-a9/build/
/ejercicio-a10/nbproject/private/
/ejercicio-a10/build/
/ejercicio-a11/nbproject/private/
/ejercicio-a11/build/
/ejercico-a12/nbproject/private/
/ejercico-a12/build/
/ejercicio-a13/nbproject/private/
/ejercicio-a13/build/
/ejercicio-a14/nbproject/private/
/ejercicio-a14/build/
/ejercicio-a15/nbproject/private/
/ejercicio-a15/build/
/ejercicio-a16/nbproject/private/
/ejercicio-a16/build/
/ejercicio-a17/nbproject/private/
/ejercicio-a17/build/
/ejercicio-a18/nbproject/private/
/ejercicio-a19/nbproject/private/
/ejercicio-a19/build/
/ejercicio-a18/build/
/ejercicio-a20/nbproject/private/
/ejercicio-a20/build/
/ejercico-a20/nbproject/private/
/ejercicio-a17-/nbproject/private/
/ejercicio-a18-/nbproject/private/
/ejercicio-a18-/build/
/ejercicio-a19-/nbproject/private/
/ejercicio-a19-/build/
/ejercicio-a21/nbproject/private/
/ejercicio-a21/build/
/preba igualdad  de arrays/nbproject/private/
/preba igualdad  de arrays/build/
/ejercicio-ex1/nbproject/private/
/ejercicio-ex1/build/
/ejercicio-ex2/nbproject/private/
/ejercicio-ex2/build/
/ejercicio-ex3/nbproject/private/
/ejercicio-ex3/build/
/ejercicio-ex4/nbproject/private/
/ejercicio-ex4/build/
/ejercicio-ex5/nbproject/private/
/ejercicio-ex5/build/
/ejercicio-ex6/nbproject/private/
/ejercicio-ex6/build/
/ejercicio-ex7/nbproject/private/
/ejercicio-ex7/build/
/ejercicio-ex8/nbproject/private/
/ejercicio-ex8/build/
/ejercicio-ex9/nbproject/private/
/ejercicio-ex9/build/
/ejercicio-ex10/nbproject/private/
/ejercicio-ex10/build/
/ejercicio-ex11/nbproject/private/
/ejercicio-ex11/build/
/ejercicio-ex12/nbproject/private/
/ejercicio-ex12/build/
/ejercicio-ex13/nbproject/private/
/ejercicio-ex13/build/
/ejercicio-ex14/nbproject/private/
/ejercicio-ex14/build/
/ejercicio-ex15/nbproject/private/
/ejercicio-ex15/build/
/ejercicio-ex16/nbproject/private/
/ejercicio-ex16/build/
/ejercicio-ex17/nbproject/private/
/ejercicio-ex17/build/
/ejercicio-ex20/nbproject/private/
/ejercicio-ex20/build/
/ejercicio-ex21/nbproject/private/
/ejercicio-ex21/build/
/ejercicio-ex22/nbproject/private/
/ejercicio-ex22/build/
/ejercicio-ex23/nbproject/private/
/ejercicio-ex23/build/
/ejercicio-ex24/nbproject/private/
/ejercicio-ex24/build/
/ejercicio-a21/dist/
/ejercicio-ex15/dist/