/ejercicio1/nbproject/private/
/ejercicio1/build/
/ejercicio1/dist/
/ejercicio2/nbproject/private/
/ejercicio3/nbproject/private/
/ejercicio3/build/
/ejercicio4/nbproject/private/
/ejercicio4/build/
/ejercicio5/nbproject/private/
/ejercicio5/build/
/ejercicio6/nbproject/private/
/ejercicio6/build/
/Ejercicio7/nbproject/private/
/Ejercicio7/build/
/Ejercicio7/dist/
/ejercicio8/nbproject/private/
/ejercicio8/build/
/ejercicio9/nbproject/private/
/ejercicio9/build/
/ejercicio10/nbproject/private/
/ejercicio10/build/
/ejercicio10/dist/
/ejercicio11/nbproject/private/
/ejercicio11/build/
/ejercicio11/dist/
/ejercicio12/nbproject/private/
/ejercicio12/build/
/ejercicio13/nbproject/private/
/ejercicio13/build/
/ejercicio14/nbproject/private/
/ejercicio14/build/
/ejercicio-a1/nbproject/private/
/ejercicio-a1/build/
/ejercicio-a2/nbproject/private/
/ejercicio-a2/build/
/ejercicio-a3/nbproject/private/
/ejercicio-a3/build/
/ejercicio-a4/nbproject/private/
/ejercicio-a4/build/
/ejercicio-a5/nbproject/private/
/ejercicio-a5/build/
/ejercicio-a6/nbproject/private/
/ejercicio-a6/build/
/ejercicio-a7/nbproject/private/
/ejercicio-a7/build/
/ejercicio-a8/nbproject/private/
/ejercicio-a8/build/
/ejercicio-a9/nbproject/private/
/ejercicio-a9/build/
/ejercicio-a10/nbproject/private/
/ejercicio-a10/build/
/ejercicio-a11/nbproject/private/
/ejercicio-a11/build/
/ejercico-a12/nbproject/private/
/ejercico-a12/build/
/ejercicio-a13/nbproject/private/
/ejercicio-a13/build/
/ejercicio-a14/nbproject/private/
/ejercicio-a14/build/
/ejercicio-a15/nbproject/private/
/ejercicio-a15/build/
/ejercicio-a16/nbproject/private/
/ejercicio-a16/build/
/ejercicio-a17/nbproject/private/
/ejercicio-a17/build/
/ejercicio-a18/nbproject/private/
/ejercicio-a19/nbproject/private/
/ejercicio-a19/build/
/ejercicio-a18/build/
/ejercicio-a20/nbproject/private/
/ejercicio-a20/build/
/ejercico-a20/nbproject/private/
/ejercicio-a17-/nbproject/private/
/ejercicio-a18-/nbproject/private/
/ejercicio-a18-/build/
/ejercicio-a19-/nbproject/private/
/ejercicio-a19-/build/