/ejercicio1/nbproject/private/
/ejercicio1/build/
/ejercicio1/dist/
/ejercicio2/nbproject/private/
/ejercicio3/nbproject/private/
/ejercicio3/build/
/ejercicio4/nbproject/private/
/ejercicio4/build/
/ejercicio5/nbproject/private/
/ejercicio5/build/
/ejercicio6/nbproject/private/
/ejercicio6/build/
/Ejercicio7/nbproject/private/
/Ejercicio7/build/
/Ejercicio7/dist/
/ejercicio8/nbproject/private/
/ejercicio8/build/
/ejercicio9/nbproject/private/
/ejercicio9/build/
/ejercicio10/nbproject/private/
/ejercicio10/build/